ShadowPluginLoader.Tool/NugetPackages/
ShadowPluginLoader.Attributes/NugetPackages/
.vs/
.idea/
ShadowPluginLoader.Tool/obj/
ShadowPluginLoader.Tool/bin/
ShadowPluginLoader.Attributes/obj/
ShadowPluginLoader.Attributes/bin/
ShadowPluginLoader.VersionGen/bin/
ShadowPluginLoader.VersionGen/obj/