ShadowPluginLoader.Tool/NugetPackages/
ShadowPluginLoader.MetaAttributes/NugetPackages/
.vs/
.idea/
ShadowPluginLoader.Tool/obj/
ShadowPluginLoader.Tool/bin/
ShadowPluginLoader.MetaAttributes/obj/
ShadowPluginLoader.MetaAttributes/bin/